.site-footer {
    background: #07101F;
    color: #3D5265;
}

.site-footer .site-info {
    padding-top: 30px;
}

.site-footer .h4-medium {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
}

.site-footer .categories-footer, .site-footer  .blog-footer, .site-footer .information-footer {
    list-style-type: none;
    padding: 20px 0 0 20px;
}

.site-footer .categories-footer li, .site-footer .blog-footer li, .site-footer .information-footer li {
    padding: 0 0 10px 0;
}

.site-footer .categories-footer a, .site-footer .blog-footer a, .site-footer .information-footer a {
    text-decoration: none;
    color: #3D5265;
    font-size: 12px;
    cursor: pointer;
}

.site-footer .categories-footer a:hover {
    color: #CB3A3A;
}

.site-footer .blog-footer a:hover, .site-footer .blog-footer a:hover span {
    color: #CB3A3A;
}

.site-footer .information-footer a:hover {
    color: #CB3A3A;
}

.site-footer .categories-footer span, .site-footer .blog-footer span, .site-footer .information-footer span {
    color: #838E97;
}

.site-footer .teg_cloud {
    padding: 20px 0 0 20px;
}

.site-footer .teg_cloud div {
    display: inline-block;
    padding: 0 15px 10px 0;
}

.site-footer .teg_cloud a {
    text-decoration: none;
    color: #3D5265;
    font-size: 12px;
    cursor: pointer;
}

.site-footer .teg_cloud a:hover {
    color: #CB3A3A;
}

.site-footer .copyright {
    font-size: 12px;
    color: #1A222F;
    padding: 15px 0 15px 0;
    margin-left: -5px;
}

.site-footer .social-icon {
    padding: 10px 0;
    margin-left: -5px;
}

.site-footer .social-icon i {
    float: right;
    font-size: 30px;
    color: #263C4B;
}

.line {
    width: 100%;
    height: 1px;
    background: #1A2230;
}

@media only screen and (max-width: 992px) {
    footer .hidden-footer-item2 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    footer .hidden-footer-item1, .hidden-footer-item2 {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    footer .hidden-footer-item1, .hidden-footer-item2 {
        display: none;
    }

    .site-footer .copyright {
        font-size: 10px;
    }

    .site-footer .social-icon i {
        font-size: 25px;
    }
}