/*for Home*/
.bg-scroll {
    background: #1E2A35;
    transition: background 0.9s ease;
}

/*for Other pages*/
.bg-header {
    background: #1E2A35;
}

.show-language {
    opacity: 1!important;
    color: #fff;
}

.site-header {
    position: sticky;
    top: 0px;
    z-index: 5;
}

.site-header .logo {
    max-width: 135px;
}

.site-header .header-navigation {
    display: flex;
    float: right;
}

/*Search form*/
.site-header .header-navigation .navigation-search {
    margin-right: 10px;
}

.site-header .header-navigation .navigation-search form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #343f49;
    border-radius: 5px;
}

.site-header .header-navigation .navigation-search form:hover {
    background: #404a53;
}

.site-header .header-navigation .navigation-search input, button {
    border: none;
    outline: none;
    background: transparent;
}

.site-header .header-navigation .navigation-search input {
    width: 100%;
    height: 39px;
    padding-left: 15px;
    color: #fff!important;
    font-size: 14px;
}

.site-header .header-navigation .navigation-search button {
    height: 37px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.site-header .header-navigation .navigation-search button i {
    font-size: 16px;
    color: #dedede;
}

.site-header .header-navigation .navigation-search button i:hover {
    color: #CB3A3A;
}

/*Cart*/
.site-header .header-navigation .cart {
    margin: 0 10px;
}

.site-header .header-navigation .cart i {
    color: #dedede;
    padding: 11px 12px 12px 12px;
    background: #343f49;
    border-radius: 5px;
}

.site-header .header-navigation .cart i:hover {
    color: #CB3A3A;
    background: #404a53;
    cursor: pointer;
}

/*Nav menu*/
.site-header .header-navigation .navigation-menu {
    margin-top: 5px;
}

.site-header .header-navigation .navigation-menu .main-navigation .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.site-header .header-navigation .navigation-menu .main-navigation li {
    display: inline-block;
    position: relative;
}

.site-header .header-navigation .navigation-menu .main-navigation li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #C9C9C9;
    text-decoration: none;
    font-weight: 700;
    margin: 0 7px;
}

.site-header .header-navigation .navigation-menu .main-navigation li a:hover {
    color: #CB3A3A;
}

/*Language*/
.site-header .navigation-language {
    margin: 0 10px;
}

.site-header .navigation-language .dropdown-toggle:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.site-header .navigation-language .dropdown .fa-globe-europe {
    color: #dedede;
    font-size: 16px;
    position: absolute;
    top: 11px;
    left: 10px;
}

.site-header .navigation-language .dropdown button {
    background: #343f49;
    height: 39px;
    border: none;
    color: #dedede;
    font-size: 14px;
    /*font-family: Arial;*/
    padding-left: 35px;
    min-width: 126px;
}

.site-header .navigation-language .dropdown button:hover {
    background: #404a53;
}

.site-header .navigation-language .dropdown-menu {
    background: #343f49;
    margin-top: 5px;
    min-width: 125px!important;
}

.site-header .navigation-language .dropdown-menu li {
    padding: 5px;
}

.site-header .navigation-language .dropdown-menu li a {
    /*font-family: Arial;*/
    color: #dedede;
    font-size: 14px;
    text-decoration: none;
    margin-left: 30px;
}

.site-header .navigation-language .dropdown-menu li a:hover {
    color: #CB3A3A;
}

.site-header .navigation-language .dropdown-menu li .fa-check {
    margin: 0 5px 0 -24px;
    opacity: 0;
}

.site-header .navigation-language .dropdown-menu li a:hover .fa-check {
    color: #CB3A3A;
    opacity: 1;
}

.site-header .navigation-language .dropdown-toggle::after {
    margin-left: 15px!important;
}

.site-header .header-adaptive {
    display: none;
}

input::-ms-clear {
    display: none!important;
}

.move-menu {
    right: 0!important;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

@media screen and (min-width: 1201px) and (max-width: 1340px) {
    .site-header .header-navigation .navigation-search  form {
        width: 170px;
    }
}

@media only screen and (max-width : 1200px) {
    .site-header .header-navigation {
        display: none;
    }

    .site-header .header-adaptive {
        display: flex;
        float: right;
    }

    /*Search*/
    .site-header .header-adaptive .wrap {
        position: absolute;
        top: 1px;
        right: 140px;
        width: 0px;
        height: 39px;
        background: #343f49;
        line-height: 35px;
        padding-right: 41px;
        border-radius: 5px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .site-header .header-adaptive .wrap:hover {
        background: #404a53;
        cursor: pointer;
    }

    .site-header .header-adaptive .wrap:hover .search-adaptive {
        color: #CB3A3A;
        cursor: pointer;
    }

    .site-header .header-adaptive input {
        border: 0;
        background: transparent;
        width: 100%;
        outline: none;
        font-size: 14px;
        color: #fff;
        transition: all 0.3s ease;
        position: relative;
    }

    .site-header .header-adaptive .wrap .fa {
        color: #dedede;
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 18px;
        cursor: pointer;
    }

    .site-header .header-adaptive .wrap.active {
        width: 250px;
        padding-left: 10px;
        transition: all 0.5s ease;
    }

    .site-header .header-adaptive .input.active {
        width: 98%;
        padding-left: 5px;
        transition: all 0.5s 0.8s ease;
    }

    .site-header .header-adaptive input::placeholder {
        color: #fff;
    }

    /*Cart*/
    .site-header .header-adaptive .cart {
        margin-top: 1px;
        margin-right: 65px;
    }

    .site-header .header-adaptive .cart i {
        color: #dedede;
        padding: 11px 12px 12px 12px;
        background: #343f49;
        border-radius: 5px;
    }

    .site-header .header-adaptive .cart i:hover {
        color: #CB3A3A;
        background: #404a53;
        cursor: pointer;
    }

    /*burgerMenu*/
    .header-adaptive .nav {
        width: 320px;
        min-width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        right: -320px;
        padding: 15px 20px;
        -webkit-transition: right 0.3s;
        -moz-transition: right 0.3s;
        transition: right 0.3s;
        background: #0C161F;
        z-index: 2000;
    }

    .header-adaptive .nav .navigation-language {
        margin: 20px 0px 0px 85px;
    }

    .header-adaptive .nav .navigation-language .dropdown-menu {
        background: #343f49;
        margin-top: 5px;
        min-width: 120px!important;
    }

    .header-adaptive .nav .navigation-language .dropdown-menu li {
        padding: 5px;
    }

    .header-adaptive .nav .navigation-language .dropdown-menu li a {
        /*font-family: Arial;*/
        color: #dedede;
        font-size: 14px;
        text-decoration: none;
        margin-left: 30px;
    }

    .header-adaptive .nav .navigation-language .dropdown-menu li a:hover {
        color: #CB3A3A;
    }

    .header-adaptive .nav .navigation-language .dropdown-menu li a .fa-check {
        margin: 0 5px 0 -24px;
        opacity: 0;
    }

    .header-adaptive .nav .navigation-language .dropdown-menu li a:hover .fa-check {
        color: #CB3A3A;
        opacity: 1;
    }

    .header-adaptive .nav  .line {
        border: 0.5px solid;
        width: 90%;
        position: absolute;
        top: 90px;
    }

    .header-adaptive .nav-toggle {
        position: absolute;
        right: 340px;
        top: 16px;
        padding: 9px 10px 6px 10px;
        border-radius: 5px;
        background: #343f49;
        color: #dadada;
        cursor: pointer;
        font-size: 25px;
        line-height: 1;
        z-index: 2001;
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }

    .header-adaptive .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }

    .header-adaptive .nav-toggle:hover {
        color: #CB3A3A;
        background: #404a53;
    }

    .header-adaptive [id='nav-toggle'] {
        position: absolute;
        display: none;
    }

    .header-adaptive [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        left: auto;
        right: 5px;
        top: 0em;
        background: #0C161F;
    }

    .header-adaptive [id='nav-toggle']:checked ~ main > article {
        -webkit-transform: translateX(-320px);
        -moz-transform: translateX(-320px);
        transform: translateX(-320px);
    }

    .header-adaptive .nav > ul {
        display: block;
        list-style: none;
        text-align: center;
        position: absolute;
        top: 100px;
    }

    .header-adaptive .nav > ul > li {
        line-height: 2.5;
    }

    .header-adaptive .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font-weight: 700;
        font-size: 14px;
        color: #dadada;
        width: 100%;
        text-decoration: none;
        margin-left: 42px;
        text-transform: uppercase;
        -webkit-transition: color .5s ease, padding .5s ease;
        -moz-transition: color .5s ease, padding .5s ease;
        transition: color .5s ease, padding .5s ease;
    }

    .header-adaptive .nav > ul > li > a:hover,
    .header-adaptive .nav > ul > li > a:focus {
        color: #CB3A3A;
    }
}

@media only screen and (max-width: 450px) {
    .header-adaptive .wrap {
        right: 121px!important;
    }

    .header-adaptive .cart {
        margin-top: -5px;
        margin-right: 55px !important;
    }
}

/*Account*/
#account button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #C9C9C9;
    text-decoration: none;
    font-weight: 700;
}

#account button:focus, button:active {
    outline: none !important;
    box-shadow: none;
}

#account .dropdown-menu.show {
    margin-left: -120px;
    margin-top: 20px;
    background: #313E4C;
    width: 189px;
    border-radius: 7px;
}

#account .dropdown-menu .arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #313E4C;
    margin-left: 135px;
    margin-top: -23px;
    position: absolute;
}

#account .dropdown-menu span {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

#account .dropdown-menu a {
    color: #7A848C;
    font-size: 14px;
    margin: 0px;
}

#account .dropdown-menu a:hover {
    color: #CB3A3A;
    margin: 0px;
}

#account .dropdown-menu a i {
    padding-right: 10px;
}

#account .dropdown-divider {
    border-top: 1px solid #3B4E5C;
}

#account .dropdown-item:hover {
    background-color: #313e4c;
}

#account .dropdown-toggle::after {
    display: none;
}