/*
Theme Name: Forgity
Theme URI: http://lemeor.com/
Author: Lemeor team
Author URI: http://lemeor.com/
Description: In search of good quality
Version: 1.0.0
License: Copyright © 2016 Lemeor. All rights reserved.
License URI:
Tags: lemeor, template
Text Domain: lemeor_theme
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
}

.wrap-content {
    flex-grow: 1;
}

.h2-thin {
    font-size: 28px;
    font-weight: 300;
    color: #313E4C;
}

.h4-medium {
    font-size: 18px;
    font-weight: 500;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.button-style {
    padding: 12px 20px;
    background: #ED463B;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

.button-styl:hover {
     text-decoration: none;
     color: #fff;
     background: #DF433C;
}

/*BLOG*/
.main-breadcrumbs {
    background-color: #FAFAFA;
}

.main-breadcrumbs .h2-thin {
    color: #838E97;
    margin-bottom: 0;
    padding: 20px 0;
}

.main-breadcrumbs .bread-crumbs p {
    font-size: 12px;
    color: #838E97;
    margin-bottom: 0;
    padding: 27px 0;
}

.main-breadcrumbs .bread-crumbs a {
    color: #313E4C;
}

.main-breadcrumbs .bread-crumbs a:hover {
     color: #CB3A3A;
}

/*Posts*/
.posts .post-img {
    height: 249px;
}

.posts .post-img img {
    width: 100%;
    height: 100%;
}

.news_item_img_hidden {
    height: 249px;
    background: rgba(49, 62, 76, 0.5);
    margin-top: -249px;
    line-height: 260px;
    position: relative;
    display: none;
}

.news_item_img_hidden .read-post {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.posts:hover .news_item_img_hidden {
    display: block;
    cursor: pointer;
}

.posts .post-category p, .posts .post-date p {
    font-size: 12px;
    color: #838E97;
}

.posts .post-date p {
    float: right;
}

.posts .post-category p a:hover {
    color: #CB3A3A;
}

.posts .h2-thin {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #313e4c;
}

.posts .h2-thin a:hover {
    color: #CB3A3A;
}

.posts-text {
    font-size: 14px;
}

.block-sidebar h5 {
    text-transform: uppercase;
    font-size: 16px;
    color: #3D5265;
    font-weight: 400;
}

.category-post li {
    font-size: 14px;
    color: #838E97;
    list-style-type: none;
    margin-left: -15px;
    line-height: 30px;
}

.category-post li a:hover {
    color: #CB3A3A;
}

span.count-post {
    color: #dedede;
    position: absolute;
    right: 35px;
}

.resent-post .post-img {
    height: 130px;
}

.resent-post .post-img img {
    width: 100%;
    height: 100%;
}

.resent-post .h2-thin {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #313e4c;
    line-height: 20px;
}

.resent-post .h2-thin:hover {
    color: #CB3A3A;
}

.resent-post .post-date {
    font-size: 12px;
    color: #838E97;
    margin-bottom: 5px;
}

.resent-post .posts-text {
    font-size: 12px;
}

.block-sidebar .line {
    width: 100%;
    height: 1px;
    background: #F3F3F3;
}

.resent-post:hover .news_item_img_hidden {
    display: block;
    cursor: pointer;
}

.resent-post .news_item_img_hidden {
    height: 130px;
    background: rgba(49, 62, 76, 0.5);
    margin-top: -130px;
    line-height: 135px;
    position: relative;
}
/*END BLOG*/

/*SINGLE POST*/
.post-content .h2-thin {
    font-size: 28px;
}

.post-content .posts-text p {
    font-size: 14px;
    color: #313E4C;
}

.post-content .posts-text h4 {
    font-size: 16px;
    color: #838E97;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 25px;
}

.widget-icon {
    float: right;
}

.social {
    font-size: 14px;
    color: #C9C9C9;
}

.ssbp-facebook, .ssbp-twitter, .ssbp-linkedin, .ssbp-email {
    background-color: inherit!important;
    color: #C9C9C9!important;
}

.ssbp-facebook:hover, .ssbp-twitter:hover, .ssbp-linkedin:hover, .ssbp-email:hover {
    color: #F44440!important;
}

.ssbp-list li a {
    margin-top: -10px;
    padding: -7px;
    margin-left: -15px;
}
/*END SINGLE POST*/

/*404 page*/
.error-page {
    margin-top: 200px;
}

.error-page h1{
    font-size: 120px;
    color: #FFCC3E;
    font-weight: 700;
}

.error-page p {
    font-size: 16px;
    font-weight: 700;
    color: #838E97;
    text-transform: uppercase;
}

footer {
    flex-shrink: 0;
}

/*Search*/
#request-search {
    margin: 70px 0;
}

#request-search .has-request-search {
    width: 70%;
}

#request-search .has-request-search .fa-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.5rem;
    text-align: center;
    pointer-events: none;
    color: #C9C9C9;
}

#request-search .has-request-search .search {
    padding-left: 45px;
    border-radius: 7px;
    height: 42px;
    background: #FAFAFA;
    color: #8D9197;
    border: 1px solid #c9c9c9;
}

#request-search .has-request-search input {
    width: 100%;
}

#request-search .has-request-search .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#request-search  .button-style {
    padding: 10px 65px;
    margin-left: 20px;
}

#request-search  ::-webkit-input-placeholder {
    color: #bebabb;
    font-size: 14px;
}

#request-search  ::-moz-placeholder {
    color: #bebabb;
    font-size: 14px;
}

#request-search  :-moz-placeholder {
    color: #bebabb;
    font-size: 14px;
}

#request-search  :-ms-input-placeholder {
    color: #bebabb;
    font-size: 14px;
}

#request-search  input:focus::-webkit-input-placeholder {
    color:transparent;
}

#request-search  input:focus:-moz-placeholder {
    color:transparent;
}

#request-search  input:focus::-moz-placeholder {
    color:transparent;
}

#request-search  input:focus:-ms-input-placeholder {
    color:transparent;
}

.results-nothing {
    margin: 100px 0 250px 0px;
}

.results-nothing  p {
    font-size: 14px;
    color: #313e4c;
}

.results-nothing a {
    cursor: pointer;
   color: #CB3A3A;
}
